################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EVENTS_MOBILE_APP/EVENTS_MOBILE_APP/EVENTS_MOBILE_APP.Android/obj/Debug/resourcecache/designer-resources
